@import url('core/main/prefix.less');

@color_border: #a9a9a9;
@color_btnPagination: #187079;
@color_btnPagination_hover: #065158;
@color_btnPagination_active: #2e9ca7;
@color_danger: #c10501;
@color_danger_hover: #a94442;
@color_default: #fff;
@color_header: #d2d2d2;
@color_header_form: #b1b1b1;
@color_header_table: #ecebe9;
@color_info: #5abcc5;
@color_info_hover: #58abb3;
@color_main: #186679;
@color_main_hover: #01323e;
@color_navbar_header: #023f4e;
@color_success: #28a745;
@color_success_hover: #289241;
@color_text: #656565;
@color_text_menu: #2e3838;
@color_warning: #ff5302;
@color_warning_hover: #ec4e04;

/** CUSTOM ELEMENT */
a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
    &:focus {
        outline: none;
        text-decoration: none;
    }
    &:focus-visible {
        outline: none;
    }
    &.btn {
        .borderRadius(0);
        font-size: 12px;
        position: relative;
        i {
            left: 15px;
        }
        span {
            margin-left: 20px;
        }
        &.btn-warning {
            background-color: @color_warning;
            border-color: @color_warning;
            color: @color_default !important;
            &:hover {
                background-color: @color_warning_hover;
            }
        }
        &:focus, &:active {
            .boxShadow(unset) !important;
        }
    }
}
button {
    &.btn {
        .borderRadius(0);
        font-size: 12px;
        padding: 3px 8px;
        position: relative;
        i {
            left: 15px;
            &.icon-floppy {
                font-size: 16px;
            }
        }
        span {
            margin-left: 20px;
        }
        &:focus, &:active {
            .boxShadow(unset) !important;
            outline: none !important;
        }
        &:focus-visible {
            outline: none !important;
        }
        &.btn-sm {
            .borderRadius(5px);
            height: 25px;
            width: 25px;
            i {
                left: 50%;
            }
            &.btn-warning {
                background-color: @color_warning;
                border-color: @color_warning;
                color: @color_default !important;
                &:hover {
                    background-color: @color_warning_hover;
                }
            }
        }
        &.btn-default {
            border: 1px solid @color_border;
        }
    }
}
body {
    background-color: #eee;
}
html, body {
    height: 100%;
}
ul {
    list-style-type: none;
}
p, span {
    font-size: 14px;
}
/** END CUSTOM ELEMENT */

/** CUSTOM PROPERTY */
.font-bold {
    font-weight: 700 !important;
}
.font-thin {
    font-weight: 400 !important;
}
.font-size-8 {
    font-size: 8px !important;
}
.font-size-10 {
    font-size: 10px !important;
}
.font-size-12 {
    font-size: 12px !important;
}
.font-size-14 {
    font-size: 14px !important;
}
.font-size-16 {
    font-size: 16px !important;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}
.margin-bottom-5 {
    margin-bottom: 5px !important;
}
.margin-bottom-10 {
    margin-bottom: 10px !important;
}
.margin-bottom-15 {
    margin-bottom: 15px !important;
}
.margin-bottom-20 {
    margin-bottom: 20px !important;
}
.margin-bottom-40 {
    margin-bottom: 40px !important;
}
.margin-left-5 {
    margin-left: 5px !important;
}
.margin-left-15 {
    margin-left: 15px !important;
}
.margin-left-30 {
    margin-left: 30px !important;
}
.margin-top-5 {
    margin-top: 5px !important;
}
.margin-top-10 {
    margin-top: 10px !important;
}
.margin-top-20 {
    margin-top: 20px !important;
}
.margin-top-23 {
    margin-top: 23px !important;
}
.margin-top-30 {
    margin-top: 30px !important;
}
.margin-top-40 {
    margin-top: 40px !important;
}

.padding-20 {
    padding: 20px !important;
}
.padding-bottom-5 {
    padding-bottom: 5px !important;
}
.padding-bottom-15 {
    padding-bottom: 15px !important;
}
.padding-left-0 {
    padding-left: 0px !important;
}
.padding-left-5 {
    padding-left: 5px !important;
}
.padding-right-0 {
    padding-right: 0px !important;
}
.padding-top-15 {
    padding-top: 15px !important;
}

.width-100 {
    width: 100px !important;
}
.width-200 {
    width: 200px !important;
}
/** END CUSTOM PROPERTY */

/** CUSTOM CLASS */
.alert {
    font-size: 14px;
    left: 50%;
    padding: 10px 30px 10px 20px;
    position: fixed;
    top: 20px;
    z-index: 5;
    .transform(translate(-50%, 0));
    &.alert-dismissible {
        .close {
            .transform(translate(-50%, -50%));
            padding: 0;
            top: 50%;
            span {
                font-size: 24px;
            }
        }
    }
}
.btn-switch-user {
    .borderRadius(5px);
    background-color: #e40962;
    display: inline-block;
    height: 24px;
    position: relative;
    text-align: center;
    width: 100px;
    .fontello {
        color: @color_default;
        left: 15px;
    }
    span {
        color: @color_default;
        line-height: 24px;
        margin-left: 15px;
    }
}
.content-cannot-access {
    display: none;
}
.custom-checkbox {
    .checkbox-container {
        .checkbox-wrapper {
            .checklist-container {
                height: 20px;
                width: 20px;
                .icon-ok {
                    font-size: 20px;
                    top: 5px;
                }
            }
            label {
                font-size: 12px;
                margin-left: 36px;
            }
        }
    }
}
.custom-detail {
    padding-left: 20px;
    li {
        position: relative;
        span {
            display: inline-block;
            i {
                left: -15px;
            }
        }
    }
}
.full-width {
    display: inline-block;
    width: 100%;
}
.help-block {
    color: @color_danger;
    font-size: 12px;
}
.hidden {
    display: none;
}
.input-edittext {
    background-color: #43d9cb;
    border-color: #43d9cb;
    color: @color_default;
    font-size: 12px;
    font-weight: 700;
}
.label-menu {
    .borderRadius(10px);
    background-color: @color_text;
    color: @color_default;
    display: inline-block;
    font-size: 10px;
    margin-bottom: 2px;
    padding: 2px 10px;
}
.text-label {
    .borderRadius(10px);
    color: @color_default !important;
    display: inline-block;
    font-size: 10px;
    padding: 2px 15px;
    &.text-warning {
        background-color: @color_warning;
    }
    &.text-default {
        background-color: @color_header_form;
    }
    &.text-danger {
        background-color: @color_danger;
    }
    &.text-success {
        background-color: @color_success;
    }
    &.text-primary {
        background-color: @color_main;
    }
}
.text-money {
    display: inline-block;
    min-width: 80px;
    text-align: right;
}
.view-container {
    display: inline-block;
    width: 100%;
}
.hr-dashed {
    border-style: dashed !important;
    margin: 30px;
}

[class^="col-lg-"] {
    float: left;
}
/** END CUSTOM CLASS */

/** LOGIN FORM **/
.login-wrapper {
	height: 100%;
	.login-container {
		height: 100%;
        background-image: url('../img/background-login.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        .form-layer {
            background-color: #000;
            height: 100%;
            opacity: .6;
            width: 100%;
        }
        .form-wrap {
            background-color: #000;
            opacity: .8;
            padding: 20px;
            position: absolute;
            right: 0;
            top: 0;
            width: 420px;
            z-index: 1;
            h3, h6, label {
                color: @color_default;
            }
            input[type="text"], input[type="password"] {
                .borderRadius(5px);
                font-size: 14px;
                height: 40px;
                padding: 0 15px;
            }
            label[for="loginform-rememberme"] {
                font-size: 14px;
                font-weight: 400;
                margin-left: 10px;
                margin-bottom: 0;
            }
            button[type="submit"] {
                .borderRadius(50px);
                .transition(all 0.3s ease);
                background: gainsboro;
                border: solid 1px gainsboro;
                font-size: 14px;
                padding: 10px 60px;
                &:hover {
                    background: rgba(220, 220, 220, 0.85);
                    border: solid 1px rgba(220, 220, 220, 0.1);
                }
            }
        }
	}
}
/** END LOGIN FORM **/

/** NAVIGASI **/
.navbar {
    border: none;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 0px;
    min-height: 40px;
    padding: 0;
    width: 100%;
}
/** NAVIGASI TOP **/
.navbar-top {
    .boxShadow(0 6px 12px rgba(0, 0, 0, .175));
    background-color: @color_main;
    display: inline-block;
    height: 40px;
    left: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    .toggle-mobile {
        display: none;
    }
    .appname {
        float: left;
        padding: 0 20px;
        width: 250px;
        a {
            color: @color_default;
            font-size: 16px;
            line-height: 40px;
            i {
                font-size: 12px;
            }
        }
    }
    .navbar-top-right {
        float: right;
        height: 40px;
        margin: 0;
        padding-left: 0;
        padding-right: 10px;
        li {
            border-right: 1px solid #0f6175;
            display: inline-block;
            height: 40px;
            padding: 0 5px;
            position: relative;
            a {
                color: @color_default;
                display: block;
                font-size: 14px;
                line-height: 40px;
                .fontello {
                    font-size: 12px;
                    left: 20px;
                }
            }
        }
    }
    .btn-switch-toggle {
        text-align: center;
        width: 120px;
        .fontello {
            font-size: 16px !important;
        }
        span {
            margin-left: 10px;
        }
        &:focus {
            .boxShadow(unset);
        }
    }
}
/** END NAVIGASI TOP **/
/** NAVIGASI LEFT **/
.navbar-left {
    .boxShadow(0 6px 12px rgba(0, 0, 0, .175));
    background-color: @color_main;
	display: inline-block;
	height: 100%;
	left: 0;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 40px;
	position: fixed;
	top: 0;
	width: 250px;
    z-index: 1;
}
.navbar-mobile {
    display: none;
}
.navbar-search {
    padding: 5px 0;
    position: relative;
    input[type="text"] {
        .borderRadius(5px);
        .boxShadow(inset 0 0 10px rgba(0, 0, 0, .175));
        font-size: 12px;
        height: 30px;
        padding: 0 12px;
    }
}
/** BUTTON TOGGLE SLIDE MENU **/
.navbar-slide {
	.transform(translateY(-50%));
    display: inline-block;
	height: 60px;
	position: absolute;
	right: -14px;
	top: 50%;
	width: 14px;
    .fontello {
		color: @color_default;
		cursor: pointer;
        font-size: 16px;
		left: 50%;
	}
	&:before {
		border-bottom: 15px solid transparent;
		border-top: 15px solid transparent;
		border-left: 14px solid @color_main;
		content: "";
		height: 60px;
		left: 0;
		position: absolute;
		top: 0;
	}
}
@keyframes slideout-left {
	from {
    .transform(translate3d(0, 0, 0));
  } to {
    .transform(translate3d(-100%, 0, 0));
  }
} .slideout-left {
	.animationName(slideout-left);
}

@keyframes slidein-left {
	from {
    .transform(translate3d(-100%, 0, 0));
  } to {
    .transform(translate3d(0, 0, 0));
  }
} .slidein-left {
	.animationName(slidein-left);
}
/** END BUTTON TOGGLE SLIDE MENU **/
.navbar-menu-container {
    background-color: @color_default;
    display: inline-block;
    height: 95%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.navbar-menu-header {
    background-color: @color_navbar_header;
    display:inline-block;
    height: 30px;
    padding: 0 25px;
    position: relative;
    width: 100%;
    .fontello {
        color: @color_default;
        font-size: 16px;
        left: 20px;
    }
    p {
        color: @color_default;
        line-height: 30px;
        margin: 0;
        margin-left: 10px;
    }
    &:before {
        background-color: @color_default;
        bottom: -10px;
        content: "";
        display: inline-block;
        height: 10px;
        left: 0;
        position: absolute;
        width: 230px;
        z-index: 1;
    }
}
.navbar-menu-body {
    display: inline-block;
    padding: 10px;
    padding-bottom: 50px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    &:before {
		background-color: @color_default;
		bottom: 0;
		content: "";
		display: inline-block;
		height: 10px;
		left: 0;
		position: absolute;
		width: 230px;
		z-index: 1;
	}
}
.navbar-menu {
    display: inline-block;
	height: 25px;
	position: relative;
	width: 100%;
    a {
		color: @color_text_menu;
        display: inline-block;
        height: 25px;
		line-height: 25px;
		padding: 0 20px 0 45px;
		span {
			display: inline-block;
            line-height: 25px;
		}
	}
    .fontello {
		.transform(unset);
		background-color: @color_default;
        font-size: 14px;
		left: 0;
		top: 0;
		&.icon-folder-open-2, &.icon-folder-3, &.icon-home-2, &.icon-doc-text-inv {
			left: 20px;
		}
	}
    &.active {
		background-color: @color_main;
		left: -10px;
		width: 110%;
		z-index: 1;
		.borderRadius(0 20px 20px 0);
		a {
			padding-left: 55px;
			.fontello {
				background-color: @color_main;
				color: @color_default;
				left: 30px;
			}
			span {
				color: @color_default;
			}
		}
	}
}
.menu-tree {
    padding-left: 0;
    position: relative;
    .navbar-menu {
        &:before {
			border-top: .8px solid @color_text_menu;
			content: "";
			display: block;
			height: 0;
			position: absolute;
			top: 10px;
			width: 11px;
		}
    }
    &:before {
		border: .5px solid @color_text_menu;
		bottom: 15px;
		content: "";
		display: block;
		position: absolute;
		top: 0;
		width: 0;
	}    
}
.menu-tree-2 {
    .navbar-menu {
        a {
            display: inline-block;
            padding: 0 20px 0 55px;
            .fontello {
                left: 30px;
                &.icon-folder-open-2, &.icon-folder-3 {
                    left: 60px;
                }
            }
        }
        &.child {
            a {
                .fontello {
                    left: 10px;
                    &.icon-folder-open-2, &.icon-folder-3 {
                        left: 30px;
                    }
                }
            }
            .menu-tree-3 {
                a {
					padding: 0 20px 0 75px;
					.fontello {
						left: 50px;
					}
				}
                .navbar-menu {
                    &.active {
                        a {
                            padding-left: 85px;
                            .fontello {
                                left: 60px;
                            }
                        }
                    }
                    &:before {
                        left: 40px;
                    }
                }
                &:before {
                    left: 40px;
                }
            }
        }
        &.active {
            a {
                padding-left: 65px;
                span {
                    color: @color_default;
                }
                .fontello {
                    background-color: @color_main;
                    color: @color_default;
                    left: 40px;
                }
            }
            &:before {
                border-top: 0;
            }
        }
        &:before {
            left: 20px;
        }
    }
    &:before {
        left: 20px;
    }
}
.navbar-menu-body {
	&::-webkit-scrollbar {
		width: 5px;
	}
	&::-moz-scrollbar {
		width: 5px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: darkgrey;
		outline: 1px solid darkgrey;
	}
}
/** END NAVIGASI LEFT **/
/** END NAVIGASI **/

/** BREADCRUMB **/
.breadcrumb {
    .borderRadius(5px);
    .boxShadow(inset 0 0 10px 2px #efefef);
    background: linear-gradient(rgb(222 222 222 / 40%),rgb(255 255 255 / 80%) 100%);
    display: inline-block;
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 0;
    padding: 10px 20px;
    text-align: right;
    width: 100%;
    .breadcrumb-item {
        display: inline-block;
        &.active {
            color: @color_text;
        }
        + .breadcrumb-item {
            padding-left: 0;
            &:before {
                padding-right: 5px;
            }
        }
    }
}
/** END BREADCRUMB **/

/** AUTOCOMPLETE UI **/
.ui-menu {
    &.ui-widget {
        &.ui-widget-content {
            &.ui-autocomplete {
                .boxShadow(0 6px 12px rgb(0 0 0 / 18%));
                background-color: @color_default;
                display: inline-block;
                padding-left: 0;
                min-width: 250px !important;
                max-width: 500px;
                width: auto;
                z-index: 9999;
                .ui-menu-item {
                    cursor: pointer;
                    display: inline-block;
                    height: 30px;
                    line-height: 30px;
                    width: 100%;
                    .ui-menu-item-wrapper {
                        cursor: pointer;
                        font-size: 12px;
                        padding: 0 20px;
                    }
                    &:hover {
                        background-color: @color_main_hover;
                        .ui-menu-item-wrapper {
                            color: @color_default;
                        }
                    }
                }
            }
        }
    }
}
/** END AUTOCOMPLETE UI **/

/** CUSTOM FIELDSET **/
.fieldset-box {
    border: 1px solid @color_border;
    legend {
        border-bottom: 0;
        font-size: 14px;
        margin-left: 20px;
        padding: 0 20px 0 10px;
        width: auto;
    }
}
/** END CUSTOM FIELDSET **/

/** POPUP FORM **/
.popup-remove {
    .fontello {
        font-size: 12px;
    }
}
.popup-form {
    .boxShadow(0 6px 12px rgb(0 0 0 / 18%));
    left: 50%;
    position: fixed;
    top: 10%;
    z-index: 10;
    .popup-form-header {
        border-bottom: 1px solid @color_header_form;
        padding: 5px 15px;
        position: relative;
        h5 {
            font-size: 16px;
            margin-bottom: 0;
        }
    }
    .popup-form-body {
        padding: 20px;
    }
    .popup-header {
        h5 {
            font-size: 14px;
        }
    }
    .popup-body {
        .form-control {
            .borderRadius(0);
            font-size: 12px;
            height: 30px;
        }
        table {
            tbody {
                tr {
                    cursor: pointer;
                }
            }
        }
    }
}
/** END POPUP FORM **/

/** CUSTOM TABLE **/
.column-action {
    width: 100px;
}
.summary {
    font-size: 12px;
}
.table-bordered {
    margin-bottom: 20px;
    thead {
        tr {
            th, td {
                font-size: 12px;
                padding: 5px;
                border-bottom-width: 0;
            }
            th {
                background-color: @color_header_table;
                text-align: center;
                vertical-align: middle;
                a {
                    color: @color_text;
                }
            }
            td {
                input[type="text"] {
                    .borderRadius(0);
                    font-size: 12px;
                    height: 30px;
                    padding: 5px;
                }
            }
        }
    }
    tbody {
        tr {
            td {
                font-size: 12px;
                padding: 5px;
                vertical-align: middle;
                a[data-pjax] {
                    .borderRadius(5px);
                    color: @color_default;
                    display: inline-block;
                    font-size: 12px;
                    height: 22px;
                    padding: 2px 4px;
                    position: relative;
                    width: 22px;
                    .fontello {
                        font-size: 14px;
                    }
                    &[title="View"][aria-label="View"] {
                        background-color: @color_main;
                    }
                    &[title="Update"][aria-label="Update"] {
                        background-color: @color_warning;
                    }
                    &[title="Delete"][aria-label="Delete"] {
                        background-color: @color_danger;
                    }
                    &:hover {
                        &[title="View"][aria-label="View"] {
                            background-color: @color_main_hover;
                        }
                        &[title="Update"][aria-label="Update"] {
                            background-color: @color_warning_hover;
                        }
                        &[title="Delete"][aria-label="Delete"] {
                            background-color: @color_danger_hover;
                        }
                    }
                }
                span {
                    font-size: 12px;
                }
                .empty {
                    margin-left: 20px;
                }
                &:nth-child(1) {
                    text-align: center;
                }
                &.summary {
                    background: linear-gradient(#efefef,#d5d6d9 100%);
                    color: #464646;
                    text-align: right;
                }
                &.last-row {
                    border-bottom-color: transparent;
                    border-right-color: transparent;
                }
            }
        }
    }
    tfoot {
        tr {
            td {
                font-size: 12px;
            }
        }
    }
    &.detail-view {
        border: none;
        tbody {
            tr {
                th, td {
                    border: none;
                    border-bottom: 1px dotted @color_border;
                    font-size: 12px;
                    padding: 5px 10px;
                }
                th {
                    position: relative;
                    &:before {
                        content: ":";
                        position: absolute;
                        right: 0;
                    }
                }
                &:nth-of-type(odd) {
                    background-color: transparent;
                }
            }
        }
    }
    &.table-custom {
        tbody {
            td {
                vertical-align: middle;
            }
        }
    }
    &.table-striped {
        margin-bottom: 0;
    }
}
.pagination {
    .borderRadius(0);
    .boxShadow(inset 0 0 20px 1px #c7c7c4);
    background: linear-gradient(rgb(251 247 247 / 40%),#fff 100%);
    display: inline-flex;
    margin-top: 0;
    padding: 5px 15px;
    width: 100%;
    li {
        .borderRadius(50%);
        .boxShadow(0px 3px 8px rgb(0 0 0 / 10%));
        background-color: @color_btnPagination;
        display: inline-block;
        height: 20px;
        margin-right: 1px;
        width: 20px;
        a, span {
            color: @color_default !important;
            display: block;
            font-size: 8px;
            height: 20px;
            line-height: 21px;
            text-align: center;
            width: 20px;
            // bypass assets
            background-color: unset !important;
            border: unset !important;
            border-top-left-radius: 50% !important;
            border-bottom-left-radius: 50% !important;
            border-top-right-radius: 50% !important;
            border-bottom-right-radius: 50% !important;
            float: unset !important;
            margin-left: unset !important;
            padding: unset !important;
            position: unset !important;
            text-decoration: unset !important;
        }
        &.disabled {
            background-color: @color_header !important;
        }
        &.active {
            background-color: @color_btnPagination_active !important;
        }
        &:hover {
            background-color: @color_btnPagination_hover !important;
        }
    }
}
/** END CUSTOM TABLE **/

/** CUSTOM FORM && KARTIK WIDGET **/
.datepicker {
    .datepicker-days {
        .table-condensed {
            thead {
                th {
                    font-size: 14px;
                }
            }
            tbody {
                td {
                    font-size: 14px;
                }
            }
        }
    }
}

form {
    .form-group {
        label {
            font-size: 12px;
            font-weight: 700;
        }
        input[type="text"], input[type="password"] {
            .borderRadius(0);
            font-size: 12px;
            height: 30px;
            padding: 5px 10px;
        }
        &[data-parent="1"] {
            margin-bottom: 0;
            .checkbox-container {
                .checkbox-wrapper {
                    height: 30px;
                    label {
                        line-height: 30px;
                    }
                }
            }
        }
        &[data-parent="2"] {
            margin-bottom: 0;
            margin-left: 20px;
            .checkbox-container {
                .checkbox-wrapper {
                    height: 30px;
                    label {
                        line-height: 30px;
                    }
                }
            }
        }
        &[data-parent="3"] {
            margin-bottom: 0;
            margin-left: 20px;
            .checkbox-container {
                .checkbox-wrapper {
                    height: 30px;
                    label {
                        line-height: 30px;
                    }
                }
            }
        }
        &:focus {
            .boxShadow(none);
        }
        &:focus-visible {
            outline: none;
        }
    }
}
.form-group-layer {
    background-color: @color_header;
    display: inline-block;
    padding: 20px;
    width: 100%;
}

.input-group-addon {
    &.kv-date-remove {
        .glyphicon {
            right: 5px;
        }
    }
}
select {
    &[readonly] {
        touch-action: none;
        pointer-events: none;
        + .select2-container{
            pointer-events: none;
            touch-action: none;
            .select2-selection {
                background-color: #eee;
                box-shadow: none;
            }
            .select2-selection__arrow,
            .select2-selection__clear {
                display: none;
            }
        }
    }
    &.form-control {
        .borderRadius(0);
        height: 30px;
    }
}
.select2-container--krajee {
    .select2-selection--single {
        .borderRadius(0);
        font-size: 12px;
        height: 30px;
        padding-top: 4px;
        .select2-selection__arrow {
            height: 28px;
        }
        .select2-selection__clear {
            top: 3px;
        }
        .select2-selection__rendered {
            .select2-selection__placeholder {
                font-size: 12px;
            }
        }
    }
    .select2-search--dropdown {
        .select2-search__field {
            .borderRadius(0);
            background-position: right 10px top 5px;
            height: 28px;
        }
    }
    .select2-results__options {
        .select2-results__option[aria-selected] {
            font-size: 10px;
        }
    }
}
textarea {
    font-size: 12px !important;
}
/** END CUSTOM FORM && KARTIK WIDGET **/

/** BOARD CONTAINER **/
.board-container {
    background-color: @color_header;
    display: inline-block;
    height: 100%;
    text-align: right;
    padding: 20px;
    width: 100%;
    .title {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 0;
    }
    input[type="text"] {
        font-size: 20px !important;
        font-weight: 700;
        height: 40px !important;
        text-align: right;
    }
}
/** END BOARD CONTAINER **/

/** CONTAINER **/
.container {
    max-width: none;
    padding-left: 270px;
    .formbox-container {
        background-color: @color_default;
        margin-bottom: 20px;
        width: 100%;
        .formbox-header {
            background-color: @color_main;
            height: 30px;
            padding: 0 20px;
            h5 {
                color: @color_default;
                font-size: 14px;
                line-height: 30px;
                margin-bottom: 0;
            }
        }
        .formbox-body {
            display: inline-block;
            padding: 20px;
            width: 100%;
        }
    }
    &:before {
        content: none;
    }
}
.container-collapse {
	padding-left: 20px;
}
/** END CONTAINER **/

/** CUBE CONTAINER **/
.cube-container {
    box-shadow: rgb(9 30 66 / 25%) 0 4px 8px -2px, rgb(9 30 66 / 8%) 0 0 0 1px;
    display: inline-block;
    height: 120px;
    width: 100%;
    .cube-left {
        display: inline-block;
        float: left;
        height: 120px;
        position: relative;
        width: 20%;
        .fontello {
            color: @color_default;
            font-size: 60px;
            left: 50%;
        }
    }
    .cube-right {
        display: inline-block;
        float: right;
        height: 120px;
        padding: 10px;
        width: 80%;
        p {
            border-bottom: 1px solid #e6f2fd;
            color: #e6f2fd;
            margin-bottom: 0;
            padding-bottom: 5px;
        }
        ul {
            margin-top: 5px;
            padding: 0;
            li {
                span, a {
                    color: #e6f2fd;
                    font-size: 12px;
                    margin-left: 10px;
                }
                i {
                    font-size: 9px;
                    font-weight: 700;
                    margin-left: 5px;
                    top: -8px;
                    position: relative;
                }
            }
        }
    }
    &.cube-success {
        background-color: @color_success;
        .cube-left {
            background-color: @color_success_hover;
        }
    }
    &.cube-danger {
        background-color: @color_danger;
        .cube-left {
            background-color: @color_danger_hover;
        }
    }
    &.cube-warning {
        background-color: @color_warning;
        .cube-left {
            background-color: @color_warning_hover;
        }
    }
    &.cube-info {
        background-color: @color_info;
        .cube-left {
            background-color: @color_info_hover;
        }
    }
    &.cube-drop {
        background-color: #437a68;
        .cube-left {
            background-color: #438f76;
        }
    }
}
/** END CUBE CONTAINER **/

/** DOCUMENT CONTAINER **/
.document-container {
    border: 1px dotted @color_border;
	display: inline-block;
	height: 100%;
	margin-bottom: 20px;
	width: 100%;
    .document-header {
        background-color: @color_header;
        font-size: 14px;
		font-weight: 700;
		height: 30px;
		line-height: 30px;
		padding: 0 20px;
    }
    .document-body {
        display: inline-block;
		padding: 20px;
		position: relative;
		width: 100%;
        .document-li {
            display: inline-block;
            width: 100%;
            [class^="col-lg-"] {
                height: 18px;
                line-height: 18px;
                label {
                    margin-bottom: 0 !important;
                }
            }
        }
        .beauty-line {
			border-top: 1px solid #cfcdd8;
			display: inline-block;
			margin-top: 40px;
			position: relative;
			width: 50%;
			&:before {
				color: #cfcdd8;
				content: '||';
				background-color: #fff;
				height: 20px;
				left: 50%;
				position: absolute;
				text-align: center;
				top: -2px;
				width: 20px;
				.transform(translate(-50%, -50%));
			}
		}
        &:nth-last-child(1){
			.beauty-line {
				display: none;
			}
		}
    }
    .div-label{
		display: table-cell;
        font-size: 12px;
		font-weight: 300;
        margin-bottom: 0;
		min-width: 100px;
		position: relative;
		&:before {
			content: ':';
			position: absolute;
			right: 0;
		}
	}
	strong {
		display: table-cell;
		font-size: 12px;
        margin-left: 5px;
	}
    table {
        tbody {
            tr {
                td {
                    strong {
                        display: inline-block;
                    }
                }
            }
        }
    }
}
/** END DOCUMENT CONTAINER **/

/** FORM CONTAINER **/
.form-container {
    background: linear-gradient(rgb(222 222 222 / 40%),rgb(255 255 255 / 80%) 100%);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    display: inline-block;
    width: 100%;
    label {
        font-size: 10px;
        font-weight: 700;
    }
    &.no-background {
        background: transparent;
    }
}
[render="detail"] {
    background: linear-gradient(rgb(234 234 237 / 40%),rgb(247 251 255 / 80%) 100%);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    display: inline-block;
    margin-bottom: 5px;
    padding: 30px 15px;
    width: 100%;
    [class^="col-lg-"] {
        line-height: 16px;
        label {
            color: #000126;
            font-weight: 700;
            margin-bottom: 5px;
            &::before {
                content: ":";
                display: inline-block;
                font-size: 12px;
                position: absolute;
                right: 0;
            }
        }
        strong {
            display: inline-block;
        }
        span {
            font-size: 12px;
        }
    }
    .checkbox-container {
        margin-right: 15px;
        .checkbox-wrapper {
            .checklist-container {
                .fontello {
                    font-size: 16px;
                }
            }
            label {
                font-size: 12px;
            }
        }
    }
    .custom-btn {
        display: inline-block;
        height: 12px;
        line-height: 12px;
        padding: 0 15px;
        position: relative;
        text-decoration: underline;
        i {
            font-size: 12px;
        }
        span {
            font-size: 12px;
            margin-left: 15px;
        }
    }
}
[render="summary"] {
    .boxShadow(0 6px 12px rgb(0 0 0 / 18%));
    background: linear-gradient(rgb(81 193 90),rgb(39 116 52) 100%);
    display: inline-block;
    padding: 5px 15px;
    width: 100%;
    [class^=col-lg-] {
        line-height: 16px;
    }
    span {
        color: @color_default;
        display: block;
        font-size: 12px;
        font-weight: 700;
        &.label-summary {
            display: inline-block;
            min-width: 130px;
            position: relative;
            text-align: left;
            &::before {
                content: ":";
                position: absolute;
                right: 0;
            }
        }
        &.value-summary {
            display: inline-block;
        }
    }
} 
[data-align="text-right"] {
    text-align: right;
}
/** END FORM CONTAINER **/

/** ERROR STYLE **/
.site-error {
    display: inline-block;
    .btn {
        border-radius: 15px;
        padding: 5px 10px;
        width: 100px;
        &.btn-default {
            background-color: #ececec;
            border-color: #ececec;
        }
        &.btn-primary {
            background-color: #095c84;
            border-color: #095c84;
        }
        span {
            margin-left: 10px;
        }
        .fontello {
            font-size: 16px;
            left: 25px;
        }
    }
    ul {
        li {
            position: relative;
            .fontello {
                left: -20px;
            }
        }
    }
}
/** END ERROR STYLE **/

/* Media Query can't access */
@media only screen and (min-width: 0px) and (max-width: 319px) {
	.wrap {
        display: none;
    }
	.content-cannot-access {
		display: block;
		padding-bottom: 30px;
		padding-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
		text-align: center;
        &:before {
            color: @color_danger;
            content: 'Can not access application under 320px. Please update your screen.';
        }
	}
}

/** MOBILE STYLE **/
@media only screen and (min-width: 320px) and (max-width: 768px) {
    [class*="padding-"] {
        padding: 0 !important;
    }

    /** NAVBAR **/
    .navbar-top {
        .toggle-mobile {
            display: inline-block;
            float: left;
            height: 40px;
            width: 40px;
            a {
                height: 40px;
                position: relative;
                width: 40px;
                i {
                    color: @color_default;
                    font-size: 18px;
                    left: 50%;
                }
            }
        }
        .appname {
            padding: 0;
            a {
                font-size: 18px;
            }
        }
        .navbar-top-right {
            display: none;
        }
    }
    .navbar-left {
        display: none;
    }
    .navbar-mobile {
        height: 100%;
        width: 100%;
    }
    /** END NAVBAR **/
    
    /** CONTAINER **/
    .container {
        padding: 0 15px;
    }
    /** END CONTAINER **/
    
    .grid-view {
        overflow-y: scroll;
    }
    
}
/** END MOBILE STYLE **/

/** BY PASS **/
form {
    .form-group {
        &.field-profile-password, &.field-profile-current_password, &.field-profile-new_password, 
        &.field-profile-retype_new_password, &.field-loginform-password {
            position: relative;
        }
        .plain-text {
            position: absolute;
            right: 10px;
            top: 30px;
            .fontello {
                font-size: 16px;
                right: -10px;
                top: 21px;
            }
        }
    }
}
/** END BY PASS **/